<%= form_with(model: geocoder, local: true) do |form| %>
  <% if geocoder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(geocoder.errors.count, "error") %> prohibited this geocoder from being saved:</h2>

      <ul>
      <% geocoder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :geocoder_address %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :geocoder_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :geocoder_longitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
