<%= form_with(model: loaction, local: true) do |form| %>
  <% if loaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loaction.errors.count, "error") %> prohibited this loaction from being saved:</h2>

      <ul>
      <% loaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :loaction_address %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :loaction_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :loaction_longitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
